<div class="jumbotron">
  <h1>What Does this Map Do?</h1>

<p>
This map allows you to add markers from scratch. The Map will let you to add locations using latitude and longitude, as well as by simply clicking on the location on the map. It then parses the data to local storage, so that it will stay even when the application is restarted!
<br>
<br>
  Try it with the Denver Zoo, 39.7506° N, -104.9488° W
</p>
<br>
<br>

  <p><a class="btn btn-primary btn-lg" href="https://developers.google.com/maps/" role="button">Learn more</a></p>
</div>
